body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3 {
  text-align: center;
  font-size: 24px; /* Размер шрифта */
  font-weight: bold; /* Жирный текст */
  color: #333333; /* Цвет текста */
  text-align: center; /* Выравнивание по центру */
  margin-bottom: 20px; /* Отступ снизу */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* Тень */
}

.selector {
  text-align: center;
}

#reactorTypeSelect,
#speedOfWindSelect,
#cloudCoverSelect,
#timeOfDaySelect,
#timeDoseExternalRadiationSelect {
  font-size: 20px;
}

.selectorBox {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  justify-content: center;
}

.selectorBox.twoColumns {
  grid-template-columns: auto auto;
}

.result-container {
  text-align: center;
  font-size: 25px;
}

.container {
  border: 2px solid #cccccc; /* Ширина, стиль и цвет рамки */
  border-radius: 5px; /* Закругление углов */
  padding: 10px; /* Отступ внутри рамки */
  box-shadow: 0 0 10px rgba(246, 4, 4, 0.1); /* Тень */
  width: clamp(300px, 75%, 1000px);
  margin: 0 auto;
  margin-bottom: 15px;
}
